.contact-section {
    margin-top: 30px;
}
.contact-contact-contact {
    background-color: #ff9900;
}
.contact-content {
    background-color: #fff;
    padding: 20px 0px;
    border-radius: 5px;
}
.contact-us-content h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    color: #ff9900;
}
.contact-us-content h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    color: #181818;
}
.contact-us-content p {
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #181818;
}

.contactus-contactinfo {
    background: rgba(255, 153, 0, 1);
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
}
.contact-info-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100%;
    position: relative;
    margin-right: 10px;
}
.contact-info-icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #ff9900;
}
.contact-info-allitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.contact-info-address {
    margin-top: 20px;
    margin-bottom: 0px;
}
.contact-infoitem {
    display: flex;
    align-items: start;
    width: 50%;
}
.contact-info-content {
    color: #fff;
    width: 70%;
}
.contact-info-content h6 {
    margin-bottom: 2px;
    font-size: 18px;
    color: #181818;
    font-weight: 600;
}
.contact-info-content p {
    margin-bottom: 0px;
    font-size: 15px;
}
.contact-info-content p a {
    color: #fff;
}
.contact-info-content p a:hover {
    text-decoration: underline;
}
.contact-formcontent {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top: 5px solid #ff9900;
}
.contactform-label label {
    color: #181818;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.coontactform-input {
    padding: 8px 15px;
    border: 1px solid #dbdbdb;
}
.coontactform-input:focus {
    border: 1px solid #ff9900;
    box-shadow: none;
    outline: 0;
}
.contactform-rowalignment {
    margin-bottom: 12px;
}
.contact-form-button {
    text-align: end;
}
.contactform-btn {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 30px;
    transition: 0.3s all ease-in-out;
}
.contactform-btn:hover {
    background-color: #cf7d02;
    color: #fff;
    transition: 0.3s all ease-in-out;
}
.contact-map-content {
    padding-top: 40px;
    padding-bottom: 10px;
}
.contact-info-address .contact-infoitem {
    width: 100%;
}
.contact-location-map iframe {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 600px) {
    .contact-us-content h1 {
        font-size: 24px;
    }
    .contact-us-content h4 {
        font-size: 20px;
    }
    .contact-us-content p {
        font-size: 15px;
    }
    .contact-info-icon {
        width: 35px;
        height: 35px;
    }
    .contact-info-icon svg {
        font-size: 16px;
    }
    .contact-info-content h6 {
        font-size: 17px;
    }
    .contact-info-allitem {
        display: block;
    }
    /* .contact-content {
        padding: 15px;
    } */
    .contact-info-content {
        width: 80%;
    }
    .contactus-contactinfo {
        padding: 20px 15px;
    }
    .contact-info-address {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .contact-infoitem {
        margin-bottom: 10px;
    }
    .contact-info-address .contact-infoitem {
        margin-bottom: 0px;
    }
    .contactus-contactinfo .contact-info-allitem {
        margin-bottom: 10px;
    }
    .contactus-contactinfo .contact-info-allitem:last-child {
        margin-bottom: 0px;
    }
    .contact-formcontent {
        margin-top: 20px;
        padding: 20px 15px;
    }
    .contactform-label {
        margin-bottom: 10px;
    }
    .contactform-rowalignment {
        margin-bottom: 0px;
    }
    .contactform-btn {
        padding: 8px 24px;
    }
    .contact-map-content {
        padding-top: 25px;
    }
    .contact-infoitem {
        width: 100%;
    }
    .contact-info-content p a {
        font-size: 14px;
    }
    .confirmorder-page-section {
        margin: 0;
    }
}
@media only screen and (min-width: 600px) {
    /* .contact-content {
        padding: 25px;
    } */
    .contact-us-content h1 {
        font-size: 26px;
    }
    .contact-us-content h4 {
        font-size: 20px;
    }
    .contact-info-content h6 {
        font-size: 17px;
    }
    .contact-info-content p {
        font-size: 14px;
    }
    .contact-info-icon {
        width: 35px;
        height: 35px;
    }
    .contact-info-icon svg {
        font-size: 16px;
    }
    .contact-formcontent {
        margin-top: 30px;
    }
    .contactform-btn {
        padding: 10px 26px;
    }
    .contact-map-content {
        padding-top: 30px;
    }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
    .contactus-contactinfo {
        padding: 20px 10px;
    }
    .contact-formcontent {
        margin-top: 0px;
    }
}
@media only screen and (min-width: 1200px) {
    /* .contact-content {
        padding: 30px;
    } */
    .contactus-contactinfo {
        padding: 20px;
    }
    .contact-us-content h1 {
        font-size: 30px;
    }
    .contact-us-content h4 {
        font-size: 22px;
    }
    .contact-info-icon {
        width: 40px;
        height: 40px;
    }
    .contact-info-icon svg {
        font-size: 18px;
    }
    .contact-info-content h6 {
        font-size: 18px;
    }
    .contact-info-content p {
        font-size: 15px;
    }
    .contactform-btn {
        padding: 10px 30px;
    }
}
