/* @media only screen and (max-width: 575px) {} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .erectile-search {
        margin: 10px 0;
        justify-content: center;
    }
    .er-search-input {
        padding: 5px 10px;
        width: 60%;
    }
    /* .breadcrumb-list ul li {
        margin-right: 5px;
        font-size: 14px;
    }
    .breadcrumb-list ul li span {
        padding: 0px 2px;
    } */
    .banner-image img {
        width: 80%;
        border-radius: 10px;
    }
    .banner-title h1 {
        font-size: 26px;
    }
    .banner-tagline h5 {
        font-size: 18px;
    }
    .consultation-btn {
        padding: 10px 35px;
        font-size: 18px;
    }
    .banner-details p {
        font-size: 16px;
    }
    .consultation-title-icon {
        display: block;
    }
    .feature-alignment {
        display: block;
    }
    .consultation-content h1 {
        font-size: 26px;
    }
    .consultaion-details p {
        font-size: 16px;
    }
    .list-content {
        text-align: center;
        margin: 10px 0;
    }
    .consultent-image {
        margin-top: 20px;
    }
    .ed-main-bg {
        padding: 25px;
    }
    .medicine-name h6 {
        font-size: 20px;
        max-width: 280px;
    }
    .compare-treatments-heading h4 {
        font-size: 22px;
    }
    .compare-treatments-heading::after {
        width: 100%;
    }
    .compare-treatments-table {
        overflow: scroll;
    }
    .medicine-rate {
        font-size: 25px;
    }
    .medicine-rate span {
        font-size: 60px;
    }
    .related-article-title h1 {
        font-size: 26px;
    }
    .article-content {
        margin-right: 0px;
    }
    .article-title h5 a {
        font-size: 20px;
        line-height: 1.3;
    }
    .article-desc p {
        font-size: 15px;
    }
    .article-link {
        margin-bottom: 15px;
    }
    .article-btn {
        font-size: 18px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .erectile-search {
        margin: 10px 0;
        justify-content: center;
    }
    .er-search-input {
        padding: 5px 10px;
        width: 70%;
    }
    .banner-image img {
        width: 60%;
        border-radius: 10px;
    }
    .banner-title h1 {
        font-size: 30px;
    }
    .banner-tagline h5 {
        font-size: 20px;
    }
    .consultation-btn {
        padding: 10px 35px;
        font-size: 22px;
    }
    .list-content p {
        font-size: 12px;
    }
    .consultent-image {
        margin-top: 20px;
    }
    .ed-main-bg {
        padding: 40px;
    }
    .compare-treatments-table {
        overflow: scroll;
    }
    .medicine-rate {
        font-size: 25px;
    }
    .medicine-rate span {
        font-size: 60px;
    }
    .medicine-name h6 {
        font-size: 20px;
        max-width: 280px;
    }
    .article-content {
        margin-right: 0px;
    }
    .article-title h5 a {
        font-size: 20px;
        line-height: 1.3;
    }
    .article-desc p {
        font-size: 16px;
    }
    .article-link {
        margin-bottom: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .banner-image img {
        width: 70%;
    }
    .logo-image {
        text-align: center;
    }
    /* .breadcrumb-list ul li span {
        padding: 0px 8px;
    } */
    .medicine-name h6 {
        font-size: 22px;
    }
    .medicine-price p {
        margin-right: 8px;
    }
    .consultation-title-icon {
        display: block;
    }
    .consultation-content h1 {
        font-size: 26px;
    }
    .consultaion-details p {
        font-size: 17px;
    }
    .compare-treatments-table {
        overflow: scroll;
    }
    .medicine-rate {
        font-size: 28px;
    }
    .medicine-rate span {
        font-size: 60px;
    }
    .medicine-name h6 {
        font-size: 20px;
        max-width: 170px;
    }
    .article-title h5 a {
        font-size: 18px;
    }
    .article-desc p {
        font-size: 16px;
        padding: 5px 0;
    }
    .article-link {
        margin-bottom: 0px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo-image {
        text-align: start;
    }
    /* .breadcrumb-list ul li span {
        padding: 0px 10px;
    } */
    .header-link ul li a {
        font-size: 15px;
        font-weight: 600;
    }
    .banner-image img {
        width: 60%;
    }
    .consultation-title-icon {
        display: flex;
        align-items: center;
    }
    .compare-treatments-table {
        overflow: hidden;
    }
    .medicine-rate {
        font-size: 30px;
    }
    .medicine-rate span {
        font-size: 60px;
    }
    .medicine-name h6 {
        font-size: 22px;
        max-width: 230px;
    }
    .article-content {
        margin-right: 30px;
    }
    .article-desc p {
        font-size: 16px;
        padding: 5px 0;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .banner-title h1 {
        font-size: 45px;
    }
    .banner-tagline h5 {
        font-size: 22px;
    }
    .consultation-btn {
        padding: 10px 50px;
        font-size: 24px;
    }
    .medicine-name h6 {
        font-size: 22px;
        max-width: 280px;
    }
    .consultation-content h1 {
        font-size: 30px;
    }
    .consultaion-details p {
        font-size: 20px;
    }
    .ed-main-bg {
        padding: 50px;
    }
    .article-content {
        margin-right: 50px;
    }
    .article-title h5 a {
        font-size: 22px;
    }
    .article-desc p {
        font-size: 18px;
        padding: 15px 0;
    }
}
@media only screen and (min-width: 1400px) {
    .medicine-name h6 {
        font-size: 22px;
        max-width: 330px;
    }
}
